.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}.Show{
  display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    width: 120px;
    opacity: 0.3;
    height: 30px;
}.text{
  display: flex;
  align-items: center;
}.App{
  display: flex;
  justify-content: flex-end;
  
}.backrground-container{
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  width: 770px;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}.First-Container{

  display: flex;
  justify-content: space-between;
}.Button-container{
  justify-content: space-between;
}.Text-1, .Text-2, .Text-3, .Text-4, .Text-5{
  display: flex;
  justify-content: space-between;
}.Color1 {
  padding-left: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}.text-4-btn,
.text-5-btn,
.text-3-btn,
.text-2-btn,
.text-1-btn {
  margin-top: 10px;
}.text-4-1 {
  flex: 1;
  justify-content: space-between;
  display: flex;
}.Button-container{
  margin-left: 605px;

}.Save-btn{
  border: 1px solid;

  border-radius: 5px;
  width: 70px;
}.Modal2-Container{
  margin-top: 40px;
  margin-bottom: 40px;
}.Text-1, .Text-2, .Text-3, .Text-4, .Text-5{
  border-bottom: 1px solid lightgray;
}.color-f{
  padding-right: 10px;
}

















